.posts-wrapper {
  margin-bottom: 20px;
}
.post-form {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  grid-template-rows: 30px 70px 25px;
  row-gap: 10px;
}

.post-title {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin: 0;
}

.post-field {
  border: none;
  grid-column: 1/-1;
  grid-row: 2/3;
  background-color: #e6ede9;
}

.send {
  grid-column: 9/-1;
  background-color: #06B667;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.send:active, .send:focus {
  border: none;
}