.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px 1100px;
  grid-template-rows: 100px 600px;
  gap: 20px;
}

.header {
  grid-column: 1/3;
  grid-row: 1/2;
}

.sidebar-menu {
  grid-column: 1/2;
  background-color: lightblue;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  background-color: lightgreen;
}

.link {
  text-decoration: none;
}

.main {
  background-color: lightcoral;
}