.dialogs-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.dialogs-title {
  font-weight: normal;
  font-size: 20px;
}

.users-messages-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.users-wrapper {
  grid-column: 1/2;
  padding-left: 20px;
  border-right: 3px solid #000000;
  background-color: aquamarine;
}

.users-list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.messages-wrapper {
  grid-column: 2/3;
  background-color: lightblue;
  padding-left: 20px;
}